.container-narrow(style="margin-top: 60px")
  <!-- Begin product photos -->
  .row
    .col-sm-6
      <!-- Begin featured image -->
      .featured
        a.zoom#placeholder(href="#")
          img(src="/img/buy/images/layer.png")
      <!-- End featured product image -->
    .col-sm-6
      ul#product-details.list-unstyled
        li#title: h1 Wrap It by Tish
        li#price: p &#36; 80.00
        li#variants
          form(role="form")
            .row
              .col-sm-4
                .form-group
                  label.col-sm-2.control-label Length
                  select.form-control
                    option 36"
                    option 50"
