.productbrowser.content.pb-opened
  .pb-slider
    .pb-slide
      ul.ul-slider(slide-group ng-repeat="group in photoGroups")
  .pb-pageindicator.roundedbottom
    b.caret
    a.page.active(page="1") Light 
    a.page(page="2") Dark

