
<div id="home-hd" class="toggle-nav-in-ad">
  <nav role="navigation" class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><span></span></a>
      </div>
      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/instructional-videos">Instructional Videos</a></li>
          <li><a href="/buy">Purchase </a></li>
          <li><a href="/my-story">My Story</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner-text">
    <div class="headline"><img src="/img/one-wrap-8-ways.png" class="hidden-xs"/>
      <p class="visible-xs">ONE WRAP<span>8 WAYS TO WEAR</span></p>
    </div>
    <div class="scroll-down">
      <p>LEARN MORE</p><img src="/img/scroll-down-arrow.png"/>
    </div>
  </div>
</div>
<div id="home-body">
  <section id="welcome">
    <div class="container-narrow">
      <h1>The Wrap is a modern versatile dress that can be converted into many fashionable styles</h1>
      <p>
        It can go from the beach to a cocktail party in an instant or from day to night. It travels well,
        doesn't wrinkle and always looks fresh and chic.
        The wrap has a variety of beautiful color fabrics to choose from. The fabric has a modern drape and a comfortable feel.
        It can be converted into a multitude of styles depending on your mood, body shape or social occasion.
        Dress it up; dress it down....
        we know you'll have fun discovering your own unique ways to Wrap it!
      </p>
    </div>
  </section>
  <section id="models">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4"><img src="/img/models/colleen-knotted.jpg"/></div>
        <div class="col-xs-4"><img src="/img/models/cyinda-knotted.jpg"/></div>
        <div class="col-xs-4"><img src="/img/models/colleen-one-shoulder-black.jpg"/></div>
      </div>
    </div>
  </section>
  <section id="eight-styles">
    <div class="container-narrow">
      <h1>the 8 most popular styles</h1>
      <div class="row">
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/halter.png"/>
          <h2>HALTER DRESS</h2>
          <p>Slip wrap over your arms and neck, halter style.  Grab left side & push through hole under right arm.  Grab right side & wrap around     waist to tie in back.</p>
        </div>
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/one-shoulder.png"/>
          <h2>ONE SHOULDER DRESS</h2>
          <p>Slip wrap over right arm and neck.  Grab left side & push through hole. Grab right side & wrap around to tie in back.</p>
        </div>
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/one-shoulder-twist.png"/>
          <h2>ONE SHOULDER TWIST</h2>
          <p>Slip wrap over your arms and neck, halter-style. Grab the shorter corner of fabric on your right. Cross over your body; slip it   underneath the fabric on your left shoulder and twist it around 3 times; pull up a bit to tighten.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/layer.png"/>
          <h2>LAYER</h2>
          <p>Slip wrap over arms and neck, halter style.  Allow to drape loosely and adjust.</p>
        </div>
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/belted.png"/>
          <h2>BELTED</h2>
          <p>Slip wrap over arms and neck, halter style. Grab both sides in front. Gather and belt.</p>
        </div>
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/mini-knot.png"/>
          <h2>MINI KNOT</h2>
          <p>Slip wrap over arms and neck, halter style. Grab about 2" of fabric in each hand at your bust line, and tie ends together into a small knot.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-sm-4 col-md-offset-2"><img src="/img/dress-styles/knotted.png"/>
          <h2>KNOTTED</h2>
          <p>Slip wrap over arms and neck, halter style.  Grab both sides together in front.  Fold over and knot once or twice.</p>
        </div>
        <div class="col col-md-4 col-sm-4"><img src="/img/dress-styles/shirt.png"/>
          <h2>SHIRT</h2>
          <p>Slip wrap over arms and neck, halter style.  Grab both sides together in front.  Lift up around hips and knot.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="models">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4"><img src="/img/models/cyinda-halter.jpg"/></div>
        <div class="col-xs-4"><img src="/img/models/colleen-knotted-blue.jpg"/></div>
        <div class="col-xs-4"><img src="/img/models/cyinda-layer.jpg"/></div>
      </div>
    </div>
  </section>
  <section id="colors">
    <div class="container-narrow">
      <h1>The wrap comes in 11 colors</h1>
    </div>
    <div class="container-fluid">
      <div class="row colors">
        <div class="black col-md-1">
          <div class="block"></div>
          <p>black</p>
        </div>
        <div class="grey col-md-1">
          <div class="block"></div>
          <p>grey</p>
        </div>
        <div class="ivory col-md-1">
          <div class="block"></div>
          <p>ivory</p>
        </div>
        <div class="navy col-md-1">
          <div class="block"></div>
          <p>navy</p>
        </div>
        <div class="chocolate col-md-1">
          <div class="block"></div>
          <p>chocolate</p>
        </div>
        <div class="turquoise col-md-1">
          <div class="block"></div>
          <p>turquoise</p>
        </div>
        <div class="pink col-md-1">
          <div class="block"></div>
          <p>pink</p>
        </div>
        <div class="green col-md-1">
          <div class="block"></div>
          <p>green</p>
        </div>
        <div class="yellow col-md-1">
          <div class="block"></div>
          <p>yellow</p>
        </div>
        <div class="red col-md-1">
          <div class="block"></div>
          <p>red</p>
        </div>
        <div class="purple col-md-1">
          <div class="block"></div>
          <p>purple</p>
        </div>
      </div>
    </div>
  </section>
  <section id="models">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4"><img src="/img/models/colleen-one-shoulder-twist.jpg"/></div>
        <div class="col-xs-4"><img src="/img/models/cyinda-one-shoulder-back.jpg"/></div>
        <div class="col-xs-4"><img src="/img/models/cyinda-one-shoulder-twist.jpg"/></div>
      </div>
    </div>
  </section>
  <section id="testimonials">
    <div class="container-fluid">
      <h1>What Customers are Saying</h1>
      <div id="owl-carousel" class="owl-carousel owl-theme">
        <div class="item">
          <p>
            &ldquo;I love my wrap! It's awesome! I have the maxi in black, which I like to wear either 
            as a layer or belted.  I've worn it out to art gallery openings, and as a beach cover-up.  
            The fabric is comfy and easy... I've taken it with me on several trips, and it doesn't wrinkle!&rdquo;
          </p>
          <h2>Nina, Kingston, PA</h2>
        </div>
        <div class="item">
          <p>
            &ldquo;I LOVE my "wrap-it-by-Tish!"  It is so versatile and easy to wear and wash.  Plus, the color 
            selection is awesome.  It's great for travel since you can use it in various ways which makes it possible 
            for one to take less clothing on the trip.&rdquo;
          </p>
          <h2>Brenda, Guaynabo, Puerto Rico</h2>
        </div>
        <div class="item">
          <p>
            Love my wraps. Recently went to a wedding in the Dominican Republic and had three wraps with me. 
            I wore one to the beach ceremony, a maxi out to dinner, and the other over my bathing suit.  
            Everyone asked about it and loved it.  Easy to travel with and simple to care for.   
          </p>
          <h2>Karen, Atlantic Beach, NY</h2>
        </div>
        <div class="item">
          <p>My "wrap-it" was the best thing I wore all summer! The fabric is fabulous!   </p>
          <h2>Jamie, Wyomissing, PA</h2>
        </div>
        <div class="item">
          <p>
            Awesome concept. Tish's wraps are fun!  You can give it a creative twist and wear it 
            poolside, or you might prefer to use it long and one shouldered for a nice dinner date.  
            Great for travel, no wrinkles.  I chose mine in bright aqua, and the quality and color are top notch.  
          </p>
          <h2>Ileana, Guaynabo, Puerto Rico</h2>
        </div>
        <div class="item">
          <p>Very versatile and comfortable piece.  Love the colors it comes in!  </p>
          <h2>Noemi, San Juan, Puerto Rico</h2>
        </div>
        <div class="item">
          <p>
            These wraps are a must-have in any wardrobe, for all body types and all ages.  
            They are versatile, easy,  travel extremely well and so fun to wear!  The colors and fabric are wonderful.  
            Thanks, Tish, for a fabulous item! I love my wrapitbytish.  
          </p>
          <h2>Hilary, Vermont</h2>
        </div>
      </div>
      <script>
        $( document ).ready(function() {
          $("#owl-carousel").owlCarousel({
            items: 3,
            navigation : true
          });
        });
        
      </script>
    </div>
  </section>
</div>