.container(style="margin-top: 60px;")
  .row
    .col-sm-6
      section#image
        a#placeholder.zoom(href="#")
          img(src="/img/buy/images/layer.png")
    .col-sm-6
        h1#title WrapIt
        form#buySelectionForm(name="buySelectionForm", novalidate="novalidate")
          section#size
            p(style="font-size: 20px;") Size
            .radio(ng-repeat="size in options.size" for="{{size.name}}")
              label
                input(id="{{size.name}}" type="radio" ng-model="selected.size" value="{{size.name}}" name="size")
                | <span style="font-size: 16px; margin-right: 10px;">{{size.name | capitalize }}</span>
                | <span class="text-muted">{{size.description}}</span>
          section#description
            .form-group
              label.control-label.col-sm-3 Description
              .col-sm-9
                .height-holder
                  p.fade-replace(ng-repeat="size in options.size | filter:{name: selected.size} ") {{size.description}}
          section#price
            .form-group
              label.control-label.col-sm-3 Price
              .col-sm-9
                .height-holder
                  p.fade-replace-1(
                    ng-repeat="price in (selected.price = (options.price | filter: {parents: selected.size}))"
                    ) {{price.name | currency}}
          section#color
            h1 Colors
            .swatch-element.multi-bounce(ng-repeat="color in options.color | filter:{parents: selected.size}")
              label(for="{{color.name}}", style="background-color: {{color.hex}}")
              input(id="{{color.name}}", type="radio", ng-model="selected.color", value="{{color.name}}", name="color")
