.container-narrow(style="margin-top: 60px;")
  .row
    .col-sm-6
      .featured
        a#placeholder.zoom(href="#")
          img(src="/img/buy/images/layer.png")
    .col-sm-6
      #product-details
        h1#title WrapIt
        form#buySelectionForm(name="buySelectionForm", novalidate="novalidate")

          section#size-section
            .form-group
              p(style="font-size: 20px;") Size
              .btn-group(ng-model="selected.size" bs-radio-group)
                label.btn.btn-lg.btn-default(ng-repeat="size in options.size")
                  input(type="radio" value="{{size.name}}")
                  | {{size.name | capitalize }}
            .height-holder
              p.fade-replace(style="font-size: 20px;" ng-repeat="size in options.size | filter:{name: selected.size} ") {{size.description}}

          section#price-section
            .form-group
              label.control-label.col-sm-3
                .tableCell Price
              .col-sm-9
                .tableCell.wrapper
                  p.price.form-control-static.animate-fade(
                    ng-repeat="price in (selected.price = (options.price | filter: {parents: selected.size}))"
                    ) {{price.name | currency}}
          section#swatch
            h1 hello swatch
            .swatch-element(ng-repeat="color in options.color | filter:{parents: selected.size}")
              label(for="{{color.name}}", style="background-color: {{color.hex}}")
              input(id="{{color.name}}", type="radio", ng-model="selected.color", value="{{color.name}}", name="color")
